<!DOCTYPE html>
<html lang="pt">
<head>
    <title> Criar Gestor</title>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<body>
<div class="w3-panel w3-cyan">
    <center>
        <h3>Criar Gestor</h3>
    </center>

</div>
<ul>
    <p><b>Inserir id do Gestor:</b></p>
   <form id="idg" method="POST" action="/">


        <div class="form-group">


            <input type="id do gestor" class="form-control" id="inputidg" placeholder="id do gestor">

        </div>

       <button type="submit" class="btn btn-primary">Adicionar</button>

    </form>
</ul>
<ul>
    <p><b>Inserir nome do Gestor:</b></p>
   <form name="nome" method="POST" action="/">


        <div class="form-group">


            <input type="nome do gestor" class="form-control"  placeholder="nome do gestor">

        </div>

       <button type="submit" class="btn btn-primary">Adicionar</button>

    </form>
</ul>
<br/>
<hr/>
<br/>
<p><a href="secretaria.html" class="w3-button w3-grey">Retroceder</a></p>
<p><a href="/app1" class="w3-button w3-grey">Voltar à homepage</a></p>
<p><a href="logout.html" class="w3-button w3-grey">Log out</a></p>
</body>
</html>
