<!DOCTYPE html>
<html lang="pt">
<head>
    <title>Secretária</title>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<body>
<div class="w3-panel w3-cyan">

  <center>
        <h3> <font color="white"> Secretária | {{ s.sec_nome }}  </font></h3>
    </center>

</div>
<center>
    <ul>
    <h2>Informação sobre a secretária:</h2>
    <p><b>Número de identificação: </b>{{ s.ids}}</p>
    <p><b>Nome: </b>{{ s.sec_nome}}</p>

    <br/>
</ul>


    <br/>
    <br/>
    <p><a href="procurarsecretaria.html" class="w3-button w3-grey">Retroceder</a></p>  <p><a href="/app1" class="w3-button w3-grey">Voltar à homepage</a></p>

</center>

</body>
</html>