<!DOCTYPE html>
<html lang="pt">
<head>
    <title> Consultar Exames</title>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<body>
<div class="w3-panel w3-cyan">
   <center>
        <h3> <font color="white"> Consultar Exames de um determinado tipo </font></h3>
    </center>
</div>
<center>
    <ul>
    <p><b>Inserir tipo do exame pretendido:</b></p>
    <form method="POST" action=" ">
        {% csrf_token %}
        {{ form.as_p }}
    <input type="submit" value="Pesquisar">
    </form>
        <br/>
<hr/>
<br/>
<ul>

    <br/>
    <br/>
    <p><a href="medicos.html" class="w3-button w3-grey">Retroceder</a></p>  <p><a href="/app1" class="w3-button w3-grey">Voltar à homepage</a></p>
    <p><a href="logout.html" class="w3-button w3-grey">Log out</a></p>
</ul>
        </ul>
</center>



</body>
</html>