<!DOCTYPE html>
<html lang="pt">
<head>
    <title> Secretária </title>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<body>
<div class="w3-panel w3-grey">
<center>
    <h3> <font color="white"> Secretária </font></h3>
</center>

</div>


     <div class="w3-bar-block w3-white">


<div class="w3-container w3-margin">

<ul class="w3-ul w3-Teal">
    <li>
 <a href="addexame.html.html" class="w3-bar-item w3-button w3-cyan"> <center> Adicionar Exame </center> </a>
</li><li>
 <a href="addutente.html" class="w3-bar-item w3-button w3-cyan"> <center> Adicionar Utente </center> </a>
</li>
<li>
  <a href="adicionarmedicamento.html" class="w3-bar-item w3-button w3-cyan"> <center> Adicionar Medicamento </center> </a>
</li>
    <li>
        <a href="procurarutente.html" class="w3-bar-item w3-button w3-cyan"> <center> Procurar Utente </center></a>
    </li>

    <li>
        <a href="procurarmedico.html" class="w3-bar-item w3-button w3-cyan"> <center> Procurar Médico </center></a>
    </li>

</ul>
</div>
     </div>

<p><a href="/app1" class="w3-button w3-grey">Voltar à homepage</a></p>
<p><a href="logout.html" class="w3-button w3-grey">Log out</a></p>
</body>
</html>